@import "tailwindcss";

@theme {
  --color-bordo: #A52502;
  --color-bordo-oscuro: #390D02;
  --color-negro: #000B0D;
  --color-verde: #154B52;
  --color-lila: #4F136C;
  --color-celeste: #1C8394;
  --color-naranja: #FB9160;
  --color-blanco: #FFFFFF;

  --font-sansita: var(--font-sansita);
  --font-montserrat: var(--font-montserrat);
  --font-mono: var(--font-mono); 
}

body {
  @apply bg-white text-black;
}