@import "tailwindcss";

@theme {
  --color-alerta-red: #CE0002;
  --color-alerta-dark: #4B0706;
  --color-alerta-blood: #7A0E0E;
  --color-alerta-pink: #E2BABB;

  --font-serif: "Playfair Display", serif;
  --font-mono: "Special Elite", monospace;
}

body {
  @apply bg-white text-black;
}